:root {
  --primary: #0f0e0e;
  --secondary: rgba(15, 14, 14, 0.6);
  --border: rgba(15, 14, 14, 0.1);
  --bg: #0f0e0e;
  --theme: #c9f31d;
  --black: #0f0e0e;
  --white: #fff;
  --action: #abd113;
  --secondary-2: #04030a;
  --background: #1b1b1b;
  --font-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow: hidden;
  overflow-y: auto;
}
body {
  font-family: "Arial", sans-serif;
  background-color: #f5f5f5;
  color: #333;
  overflow: hidden;
  overflow-y: auto;
}
a,
a:hover {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}
img,
video {
  max-width: 100%;
  height: auto;
  display: block;
}
p {
  margin: 0;
}
button {
  cursor: pointer;
  border: none;
  background: none;
}
input,
textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  border: none;
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.btn-theem {
  background-color: var(--theme);
  color: var(--black);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out;
  display: inline-flex;
  align-items: center;
  gap: 0 10px;
  text-transform: uppercase;
  &:hover {
    background-color: var(--action);
  }
}

// header
header {
  background-color: var(--primary);
  padding: 10px 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  .nav-menu {
    display: flex;
    a {
      margin-right: 20px;
      color: var(--white);
      font-weight: bold;
      font-size: 14px;
      transition: all 0.3s ease-in-out;
      &:hover {
        color: var(--theme);
      }
    }
  }
}

// main

.banner-section {
  padding: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 0;
    height: 100%;
    overflow: hidden;
    width: 100%;
  }
  .container {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;

    // h1 {
    //   font-size: 82px;
    //   color: var(--white);
    //   margin-bottom: 20px;
    //   line-height: 80px;
    //   @media (max-width: 1441px) {
    //     * {
    //       border: 1px solid #f00;
    //     }
    //   }
    // }

    h1 {
      font-size: 82px;
      color: var(--white);
      margin-bottom: 20px;
      line-height: 80px;

      @media (max-width: 1441px) {
        font-size: 60px;
        line-height: 65px;
      }

      @media (max-width: 1366px) {
        margin-bottom: 15px;
      }
      @media (max-width: 1024px) {
        font-size: 40px;
        line-height: 65px;
      }
      @media (max-width: 767px) {
        font-size: 30px;
        line-height: 18px;
      }
    }
    .video-section {
      display: flex;
      gap: 20px;
      align-items: center;
      position: relative;
      transition: gap 0.5s ease;

      @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
      }
    }
  }
}
.banner-video-section {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  position: absolute;
  width: 120px;
  top: 50%;
  left: 400px;
  transform: translate(-20%, -100%);
  video {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    object-fit: cover;
  }
  h1 {
    margin-left: 120px;
  }
}

.banner-section {
  position: relative;
  height: 100vh;
  overflow: hidden;

  .banner-video-section {
    width: 140px;
    z-index: 5;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 12px;
    }
  }
}

.video-wrapper {
  width: 140px; /* Initial Width */
  height: 80px; /* Initial Height */
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.video-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.why-choose-us {
  padding: 100px 0;
  background-color: var(--white);

  h2 {
    color: var(--theme);
    font-size: 25px;
    margin-bottom: 20px;
  }
}

.char {
  display: inline;
  transition: color 0.3s;
}

#reveal-text {
  font-size: 50px;
  line-height: 70px;
  margin-bottom: 40px;
  text-align: left;
  color: #ccc;
  @media (max-width: 1441px) {
    font-size: 40px;
    line-height: 50px;
  }
  @media (max-width: 1280px) {
    font-size: 30px;
    line-height: 30px;
  }
  @media (max-width: 767px) {
    font-size: 25px;
    line-height: 36px;
  }
}

.get-to-know {
  padding: 100px 0;
  background-color: #f3f3f3;
  .title-block {
    position: relative;
    h2 {
      color: var(--theme);
      font-size: 20px;
      margin-bottom: 10px;
      text-transform: uppercase;
      letter-spacing: 2px;
      background: var(--white);
      color: rgba(15, 14, 14, 0.6);
      border: 1px solid var(--border);
      border-radius: 4px;
      padding: 8px 15px;
      font-weight: 400;
      width: fit-content;
    }
    h1 {
      color: var(--secondary-2);
      font-size: 50px;
      line-height: 60px;
      margin-top: 20px;

      @media (max-width: 1441px) {
        font-size: 40px;
        line-height: 50px;
      }
      @media (max-width: 991px) {
        font-size: 30px;
        line-height: 30px;
      }
    }
    .rotating {
      position: absolute;
      animation: rotating 4s linear infinite;
      right: 0;
      bottom: 0;
      @media (max-width: 1441px) {
        width: 80px;
      }
    }
  }
  .get-to-know-img-section {
    margin-top: 50px;
    width: 100%;
    position: relative;

    img {
      width: 100%;
      height: 0%;
      object-fit: cover;
      border-radius: 8px;
    }

    .box-block {
      background: var(--theme);
      max-width: 300px;
      padding: 30px;
      position: absolute;
      bottom: -30px;
      right: 0;
      border-radius: 4px;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    h4 {
      color: var(--black);
      font-size: 28px;
      font-weight: bold;
      margin-bottom: 15px;
    }
    span {
      color: var(--black);
      font-size: 16px;
      margin-bottom: 15px;
      display: block;
    }
    p {
      color: var(--secondary-2);
      font-size: 16px;
      line-height: 26px;
    }
  }
  .we-specialize {
    margin-left: 100px;

    @media (max-width: 1441px) {
      margin-left: 80px;
    }

    @media (max-width: 1280px) {
      margin-left: 60px;
    }

    @media (max-width: 991px) {
      margin-left: 40px;
    }

    p {
      margin-top: 30px;
      color: var(--secondary-2);
      font-size: 18px;
      line-height: 30px;

      @media (max-width: 991px) {
        font-size: 16px;
        line-height: 24px;
      }
    }
    a {
      margin-top: 20px;
    }
  }
}

.icon-bx-wraper {
  display: flex;
  padding: 40px;
  transition: 0.5s;
  gap: 20px;
  flex-direction: column;
  border: 1px solid var(--border);
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;
  overflow: hidden;
  &:last-child {
    margin-bottom: 0;
  }
  .icon-box {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    .icon {
      width: 160px;
      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
    .icon-content {
      h4 {
        font-size: 20px;
        color: var(--black);
        margin-bottom: 10px;
      }
      p {
        font-size: 16px;
        color: var(--secondary-2);
        line-height: 26px;
        margin-bottom: 0;
      }
    }
  }
  .icon-footer {
    display: flex;
    h4 {
      font-size: 40px;
      // color: var(--theme);
      color: #c9c9c9;
      position: absolute;
      left: 0;
      bottom: 0;
      margin: 0;
      font-weight: 700;
      transform: translate(10px, 15px);
    }
    .icon-tags {
      ul {
        display: flex;
        gap: 10px;
        margin: 0;
        li {
          span {
            border: 1px solid var(--border);
            color: var(--black);
            padding: 5px 10px;
            border-radius: 4px;
            font-size: 14px;
          }
        }
      }
    }
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.services-block {
  padding: 80px 0;
}

.ser-block {
  margin-bottom: 30px;
  position: relative;
  h4 {
    font-size: 60px;
    color: var(--black);
    margin-bottom: 10px;
    display: block;
    text-align: center;
  }
  p {
    font-size: 16px;
    color: var(--secondary-2);
    line-height: 26px;
    margin-bottom: 0;
  }
  .circle-wrapper {
    position: relative;
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .rotating-circle {
      width: 100%;
      height: 100%;
      border: 2px solid #e0e0e0;
      border-radius: 50%;
      position: absolute;

      .num {
        position: absolute;
        margin: auto;
        background: var(--font-color);
        width: 80px;
        height: 80px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #f3f3f3;
        font-size: 30px;
        padding: 10px;
        scale: 0.8;
        transition: all 0.3s ease-in-out;

        &.active {
          background: var(--theme) !important;
          color: var(--black) !important;
          font-weight: bold !important;
          scale: 1;
        }
        &.n1 {
          top: 0;
          bottom: 0;
          right: 0;
          transform: translate(50%, 0px);
        }
        &.n2 {
          transform: translate(0%, 50%);
          inset: 0;
          top: unset;
        }
        &.n3 {
          transform: translate(-50%, 0%);
          inset: 0;
          right: unset;
        }
        &.n4 {
          transform: translate(0%, -50%);
          inset: 0;
          bottom: unset;
        }
      }
    }
  }
  .ser-block-list {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 20px;
  }
}

.mask-video-section {
  padding: 0 30px;
  background: #fff;
  .video-mask-container {
    width: 100%;
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    position: relative;
    // background: url('../asset/videos/shape-12.webp') no-repeat center center / cover;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;

      -webkit-mask-image: url("https://zorax-next.vercel.app/assets/imgs/shape/shape-12.webp");
      mask-image: url("https://zorax-next.vercel.app/assets/imgs/shape/shape-12.webp");

      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
    }
  }
}

.full-img {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #f3f3f3;
}

.section {
  width: 100%;
  height: 100vh;
  background: url("../asset/img/thumb-8.webp") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
}

.part-1 {
  clip-path: inset(0 100% 0 0);
}

.technology-section {
  padding: 50px 0;
  height: 100%;
  background: #f3f3f3;
  margin: 0;
  img {
    max-width: 150px;
  }
  h2 {
    color: var(--secondary-2);
    font-size: 50px;
    line-height: 60px;
    margin-top: 20px;

    @media (max-width: 1441px) {
      font-size: 40px;
      line-height: 50px;
    }
    @media (max-width: 991px) {
      font-size: 30px;
      line-height: 30px;
    }
  }
  p {
    margin-top: 30px;
    color: var(--secondary-2);
    font-size: 18px;
    line-height: 30px;
  }
  .tech-logos {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 80px 0;
    .logo-circle {
      width: 90px;
      height: 90px;
      padding: 15px;
      background: var(--white);
      border: 1px solid var(--border);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      max-width: 70px;
      object-fit: contain;
    }
  }
}

.blog-section {
  padding: 80px 0;
  background: var(--white);
  @media (max-width: 1441px) {
    padding: 60px 0;
  }
  @media (max-width: 1280px) {
    padding: 50px 0;
  }
  h2{
    margin: 0;
  }
  p {
    margin: 0;
    margin-bottom: 40px;
  }
  @media (max-width: 767px) {
    .row {
      gap: 20px;
    }
  }
  .card {
    padding: 15px;
    .img-wrapper {
      position: relative;
      width: 100%;
      overflow: hidden;
      .black-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 0%; /* Thudakkathil width 0 */
        height: 100%;
        background-color: #707070;
        z-index: 2;
      }
      img {
        width: 100%;
        height: 100%;
        max-width: 100%;
        object-fit: cover;
        opacity: 0; /* Thudakkathil image kaanilla */
      }
      .card-content {
        padding-top: 10px;
        p {
          color: var(--secondary-2);
          font-size: 14px;
          line-height: 26px;
          margin: 0;
          margin-bottom: 10px;
          display: flex;
          justify-content: space-between;
          span {
            font-weight: bold;
            background: var(--theme);
            padding: 3px 8px;
            border-radius: 5px;
          }
        }
        h4 {
          font-size: 20px;
          color: var(--black);
          margin: 0;
        }
      }
    }
  }
}

footer {
  padding: 50px 0;
  background: var(--background);
  text-align: center;
  color: var(--white);
  font-size: 14px;
}
