* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  word-break: break-word;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #ffffff33;
  background-size: cover;
  font-weight: 400;
}

a {
  text-decoration: none !important;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  color: inherit;
}

a:hover {
  color: inherit;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  padding: 0;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}
input {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
textarea {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
// width
.w-100 {
  width: 100% !important;
}
// width

.line-height-normal {
  line-height: initial !important;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

// flex styles
.flex-none {
  flex: none;
}
.d-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-flex {
  display: flex;
}
.align-center {
  align-items: center;
}
.align-start {
  align-items: flex-start;
}
.align-end {
  align-items: flex-end;
}
.justify-center {
  justify-content: center;
}
.justify-start {
  justify-content: flex-start;
}
.justify-between {
  justify-content: space-between;
}

.justify-end {
  justify-content: flex-end;
}

.flex-wrap {
  flex-wrap: wrap;
}
// flex styles

// display styles
.d-none {
  display: none !important;
}
.d-block {
  display: block;
}

.d-desktop-none {
  @media screen and (min-width: 1025px) {
    display: none !important;
  }
}
.d-mob-none {
  @media screen and (max-width: 1024px) {
    display: none !important;
  }
}
.d-mob-block {
  @media screen and (max-width: 1024px) {
    display: block !important;
  }
}
// display styles

.list-unstyled {
  list-style: none;
}

hr {
  width: 100%;
  background: #eaeaea;
  margin: 0;
  height: 1px;
  border: none;
}

.img-fluid {
  max-width: 100%;
}
button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

header {
  height: 100vh;
  padding: 40px 20px;
  background-color: #fff;
  position: relative;
  .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
  }
  .header-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .logo {
    img {
      max-height: 50px;
      -webkit-filter: invert(100%);
      filter: invert(100%);
    }
  }

  nav {
    ul {
      display: flex;
      li {
        list-style: none;
        margin: 0 20px;
        a {
          text-decoration: none;
          color: #fff;
          font-weight: 500;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 16px;
          @media (max-width: 991px) {
            font-size: 14px;
          }
        }
      }
    }
    &.main-nav {
      @media (max-width: 991px) {
        display: none;
      }
    }
    &.mobile-menu {
      display: none;

      @media (max-width: 991px) {
        display: block;
        .ham {
          cursor: pointer;
          font-size: 30px;
          color: #fff;
          position: relative;
          z-index: 100;
        }
        ul {
          position: fixed;
          width: 100%;
          top: 0;
          left: 0;
          background-color: #ffffff33;
          border: 1px solid #ffffff8f;
          backdrop-filter: blur(9px);
          z-index: 99;
          border-radius: 8px;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          overflow: hidden;
          pointer-events: none;
          opacity: 0;
          height: 0;
          li {
            margin: 10px 0;
            a {
              font-size: 36px;
              transition: all 0.3s ease;
              color: #fff;
              &:hover {
                color: #000;
              }
            }
          }
        }
        ul.main-menu[style*="opacity: 1"] {
          pointer-events: auto;
        }
      }
    }
  }
  .header-content {
    position: absolute;
    z-index: 9;
    bottom: 50px;
    left: 0;
    right: 0;
    max-width: 1200px;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    h1 {
      color: #fff;
      font-weight: 500;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 80px;
      line-height: 1.2;
      position: relative;
      z-index: 1;
      @media (max-width: 1600px) {
        font-size: 60px;
      }
      @media (max-width: 768px) {
        font-size: 36px;
      }
    }
    p {
      color: #fff;
      font-weight: 400;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 24px;
      line-height: 1.2;
      position: relative;
      z-index: 1;
      max-width: 450px;
      margin: 20px 0;
      @media (max-width: 768px) {
        font-size: 16px;
      }
    }
    button {
      font-weight: 400;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 20px;
      line-height: 1.2;
      z-index: 1;

      background-color: #ffffff1a;
      border: 1px solid hsla(0, 0%, 100%, 0.1);
      border-radius: 5em;
      color: #fff;
      display: inline-block;
      padding: 0.4em 0.85em;
      position: relative;
      transition: background-color 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

      @media (max-width: 768px) {
        font-size: 14px;
      }
    }
  }
}

.features {
  height: 100vh;
  overflow: hidden;
  padding-bottom: 0;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  .features-title {
    color: #f73b20;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 94px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    transform: scale(2);

    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 1600px) {
      font-size: 60px;
    }
    @media (max-width: 991px) {
      font-size: 40px;
    }
    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
  // .features-list {
  //   // position: relative;
  //   // height: 100vh;
  //   // display: flex;
  //   // justify-content: center;
  //   // align-items: center;
  //   // overflow: hidden;
  //   ul {
  //     li {
  //       list-style: none;
  //       img {
  //         position: absolute;
  //         scale: 0.6;
  //       }
  //       .img-1 {
  //         top: 0;
  //         transform: translate(-430%, 0px);
  //       }
  //       .img-2 {
  //         top: 0;
  //         transform: translate(0%, -270%);
  //       }
  //       .img-3 {
  //         top: 0;
  //         transform: translate(430%, -140%);
  //       }
  //       .img-4 {
  //         transform: translate(-290%, 110%);
  //       }
  //       .img-5 {
  //         transform: translate(300%, 100%);
  //       }
  //     }
  //   }
  // }
  .features-list {
    // position: relative;
    // height: 100vh; /* സെക്ഷൻ ഫുൾ ഹൈറ്റ് വേണം */
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // overflow: hidden;

    ul {
      position: relative;
      width: 100%;
      height: 100%;
      list-style: none;
      padding: 0;

      li {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -80%);

        img {
          width: 300px;
          height: auto;
          display: block;
          @media (max-width: 768px) {
            width: 200px;
          }
          @media (max-width: 488px) {
            width: 150px;
          }
        }
      }
    }
  }
}
.container-section {
  height: 50vh;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(223, 234, 255);
  .container-title {
    color: #cf0e1b;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 94px;
    line-height: 1.2;
    text-align: center;
    transform: scale(2);

    display: flex;
    align-items: center;
    justify-content: center;
  }
  ul {
    li {
      list-style: none;
      img {
        position: absolute;
        scale: 0.6;
      }
      // .list-1{
      //   transform: translate(0%, -120%);
      // }
    }
  }
}

.services-list {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  .container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    h4 {
      text-align: center;
      color: #0ecf5e;
      font-weight: 500;
      font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
      font-size: 180px;
      line-height: 1.2;
      // opacity: 0;
      @media (max-width: 1600px) {
        font-size: 120px;
      }
      @media (max-width: 1600px) {
        font-size: 100px;
      }
      @media (max-width: 1366px) {
        font-size: 80px;
      }
      @media (max-width: 767px) {
        font-size: 60px;
      }
      &:nth-child(2) {
        color: #380ecf;
      }
      &:nth-child(3) {
        color: #0c5f80;
      }
    }
  }
}
.video-section {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.clients {
  background: url("../images/1.jpg") no-repeat center center/cover;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  padding: 80px 0;
  display: flex;
  align-items: center;

  .container {
    width: 100%;
  }

  h3 {
    color: #fff;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 60px;
    line-height: 1.2;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
    @media (max-width: 1600px) {
      font-size: 50px;
      margin-bottom: 60px;
    }
    @media (max-width: 1024px) {
      font-size: 40px;
      margin-bottom: 60px;
    }

  }
  .clients-list {
    height: 300px;
    align-items: center;
    position: relative;
    margin: 0 auto;
    max-width: 650px;
    display: block;

    .client-item {
      -webkit-backdrop-filter: blur(40px);
      backdrop-filter: blur(40px);
      background: rgba(255, 255, 255, 0.1019607843);
      box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.0509803922);
      display: block;
      padding: 20px;
      transform-origin: 50% 100%;
      max-width: 650px;
      margin: auto;

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      margin: 0;
      padding: 30px;
      border-radius: 12px;
      @media (max-width: 767px) {
        padding: 15px;
      }

      h4 {
        color: #fff;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 28px;
        line-height: 1.2;
        text-align: center;
        @media (max-width: 1600px) {
          font-size: 24px;
        }
        @media (max-width: 991px) {
          font-size: 20px;
        }
      }
      p {
        color: #cec9fc;
        font-weight: 400;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-top: 10px;
        @media (max-width: 991px) {
          font-size: 14px;
        }
      }
      .client-name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        div {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #b9e7a4;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 700;
          @media (max-width: 1366px) {
            width: 32px;
            height: 32px;
            font-size: 14px;
          }
        }
        span {
          color: #fff;
          font-weight: 500;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 16px;
          line-height: 1.2;
          text-align: center;
        }
      }
    }
  }
}

.clients2 {
  background: url("../images/1.jpg");
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
  padding: 50px 0;
  h3 {
    color: #fff;
    font-weight: 500;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
    transform: scale(2);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 80px;
  }
  .clients-list2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    position: relative;
    margin: 0 auto;
    width: 100%;
    max-width: 450px;
    height: 900px;
    justify-content: center;

    .client-item2 {
      -webkit-backdrop-filter: blur(40px);
      backdrop-filter: blur(40px);
      background: #ffffff1a;
      border-radius: 12px;
      box-shadow: 0 -4px 16px #0000000d;
      display: block;
      padding: 20px;
      position: absolute;
      transform-origin: center top; /* Scale cheyyumpol mukalil ninnu resize aavan */
      max-width: 450px;
      border-radius: 4px;
      margin: auto;
      top: 0;
      width: 100%;
      margin: 0 auto;
      transition: box-shadow 0.3s ease;

      &:first-child {
        z-index: 10;
        opacity: 1;
      }

      h4 {
        color: #fff;
        font-weight: 500;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 32px;
        line-height: 1.2;
        text-align: center;
      }
      p {
        color: #cec9fc;
        font-weight: 400;
        font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
        font-size: 16px;
        line-height: 1.2;
        text-align: center;
        margin-top: 10px;
      }
      .client-name {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;
        div {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background: #b9e7a4;
          display: flex;
          align-items: center;
          justify-content: center;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-weight: 700;
          border: 1px solid #f00;

          @media (max-width: 1366px) {
            width: 32px;
            height: 32px;
            font-size: 16px;
          }
        }
        span {
          color: #fff;
          font-weight: 500;
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          font-size: 16px;
          line-height: 1.2;
          text-align: center;
          @media (max-width: 1600px) {
            font-size: 14px;
          }
        }
      }
    }
  }
}

footer {
  padding: 50px 0;
  background-color: #dbdbdb;
  position: relative;

  @media (max-width: 1366px) {
    padding: 30px 0;
  }

  .container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 9;
    color: #333;
    .footer-content {
      width: 100%;
    }
    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      font-size: 20px;
      @media (max-width: 1366px) {
        font-size: 16px;
      }
      img {
        max-width: 20px;
        @media (max-width: 1366px) {
          max-width: 16px;
        }
      }
    }
  }
}
